


body {
    font-family: Georgia,serif;
    font-weight: normal;
    font-size: 13px;
    font-family: "Merriweather";
    font-size: 14px;
    line-height: 1.8em;
    text-transform: none;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}
body {
    background-image: none;
    background-position: top left;
    background-size: auto;
    background-attachment: scroll;
    background-repeat: repeat;
    background-color: #fff;
    color: #5c5c5c;
}
body, button, input, select, textarea {
    font-family: sans-serif;
    color: #222;
}
body {
    margin: 0;
    font-size: 13px;
    line-height: 1.6em;
}

.total-wrapper {
  margin: 10px;
}
.home-container {
  align-items: center;
}
