.site-info, .site-tag-line {
    font-family: Varela Round,arial,sans-serif;
    font-weight: normal;
    font-size: 12px;
    font-family: "proxima-nova";
    font-size: 14px;
    line-height: 2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 600;
    font-style: normal;
    color: rgba(0,0,0,.3);
    text-align: center;
}
.site-info {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
}
.collapse {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  }

.mobile-nav-wrapper {
text-align: center;
}

#upper-logo {
  margin-top: 30px;
  margin-bottom: 20px;
}
.nav-menu-button {
  width: 100%;
  color: #767676;
  border-top: 1px solid #767676;
  border-bottom: 1px solid #767676;
  background-color: white;
  border-left-color: white;
  border-right-color: white;
}

a.mobile-menu-item {
  text-decoration: none;
  color: gray;
}

ul.menu-desktop-list {
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;

}
ul.menu-desktop-list li {
  display: inline;
  float: left;
  a {
    text-decoration: none;
    color: #767676;
  }
}
.desktop-menu {
  margin-top: 10px;
}
.page-divider {
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
